<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
   
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <form method="POST" action="{% url 'submit' %}">
            <h1>Form</h1>
            <label for="name">Name
                <input type="text" id="name" name="name" placeholder="Enter your full name" required>
            </label> 
            <label>Email Address</label>
            <input type="email" name="email" placeholder="Enter your email address"/>
            <label>Contact Number</label>
            <input type="number" name="Contact"/>
            <label for="password">Password
                <input type="password" id="password" name="password" required>
            </label>
            <label>Confirm your password</label>
            <input type="password" name="confirmPass" required/>
            <label>Enter your gender
                <div class="radio-group">
                    <input type="radio" name="gender" value="male" id="male"> 
                    <label for="male">Male</label>
                    <input type="radio" name="gender" value="female" id="female"> 
                    <label for="female">Female</label>
                    <input type="radio" name="gender" value="others" id="others"> 
                    <label for="others">Others</label>
                </div>
            </label>
            {% csrf_token %}
            <button type="submit">Submit</button>
            <div class="submit-count">
                <p>{{ submit_count.count }} Forms Submitted</p>
            </div>
        </form>
    </div>    
</body>
</html>